HUB_URL=https://opengridnode.co.uk
NODE_PORT=5101
PUBLIC_NODE=true
ADAPTER_TYPE=givenergy-mqtt
REGION_ID=
SUBSTATION_ID=
LAT=
LON=
NODE_ROLE=edge
USE_WEBRTC=false
MQTT_BROKER_URL=mqtt://192.168.168.8:1883
